@model List<guestbook.Models.Message>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="message">
    @foreach (var message in Model)
    {
        <p>@message.Nickname</p>
        <p>@message.UserMessage</p>
        <p>@message.eMail</p>
        <p>@message.CurrentDate</p>
    }
</div>

<form class="boxes" method="POST" onsubmit="return sendForm()">
    <textarea placeholder="How did you enjoy your stay at the Inn?" id="userMessage" name="UserMessage"></textarea><br>
    <input type="text" placeholder="Your name, traveller" id="nickName" name="Nickname"><br>
    <p id="error-name"></p><br>
    <input type="text" placeholder="Your e-mail..." id="eMail" name="eMail"><br>
    <p id="error-email"></p><br>
    <button type="submit" id="submit" disabled>Sign the book!</button><br>
</form>

<script src="~/Scripts/script.js"></script>