@model List<guestbook.Models.Message>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="message">
    @foreach (var message in Model)
    {
        <p>@message.Nickname</p>
        <p>@message.UserMessage</p>
        <p>@message.eMail</p>
        <p>@message.CurrentDate</p>
    }
</div>
