@model guestbook.Models.Message
@{
    ViewBag.Title = "SingleMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Nickname</h2>
<h2>@Model.UserMessage</h2>
<h2>@Model.eMail</h2>
<h2>@Model.CurrentDate</h2>

