body {
    background: url(images/rose2x.png) repeat;

}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
/*    justify-content: space-evenly;*/
}

#mainimage {
    position: absolute;
    max-width: 80%;
    height: auto;
    justify-content: space-around;
}


#inn{
    position: relative;
    max-width: 50%;
}
#guest {
    position: relative;
    max-width: 20%;
}

.message {
    position: relative;
}

footer {
    background: #020100;
}

p {
    color: #ffffff;
}